<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login form</title>
    </head>
    <body>

        <h1>Login</h1>
        <p></p>
        <form action="#" th:action="@{/welcome}" method="POST">
            <p><label for="email">Email</label>: <input type="text" name="email" id="email"/></p>
            <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </body>
</html>
